body {
	font-family: "Century Gothic";
	margin: 100px auto;
	width: 400px;
}
h1{
	margin-bottom: 50px;
}
label{
	font-size: 1.5em;
	color: gray;
}
input[type=checkbox]{
	/*display: none;*/
}
input[type=checkbox] + label{
	cursor: pointer;
}

/*Pseudo clases*/
label::before{
	content: '';
	background: transparent;
	border: 4px solid #88c64b;
	border-radius: 25px;
	display: inline-block;
	height: 95px;
	width: 95px;
	margin-right: 20px;
	text-align: center;
	vertical-align: middle;
	text-shadow: 4px -2px 3px gray;
}

input[type=checkbox]:checked + label::before {
	content: '✓';
	font-size: 85px;
	font-family: "Times New Roman";
	color: #88c64b;
}
